<h1>Add a word</h1>
<form action="/words" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text" required>
  <button type="submit">Add</button>
<form>

<p><a href="/words">Go back</a></p>
