<h1>Definitions for: <%= @word.name() %></h1>

<ul>
  <% @word.definitions().each() do |definition| %>
    <li><%= definition.def() %></li>
  <% end %>
</ul>

<a href="/words/<%= @word.id() %>/definition/new">Add a new definition</a>
<a href="/words">Return to all words</a>
<a href="/">Main Page</a>
